LLM_MODEL=lmstudio:qwen/qwen3.6-27b
# LLM_MODEL=openai:gpt-5.4
# LLM_MODEL=openai:gpt-4.1-2025-04-14
# LLM_MODEL=google_genai:gemini-3.1-flash-lite-preview
# LLM_MODEL=google_genai:gemini-3-flash-preview
# LLM_MODEL=anthropic:claude-haiku-4-5
# LLM_MODEL=anthropic:claude-sonnet-4-6

# lm studio
LM_STUDIO_API_KEY=
LM_STUDIO_BASE_URL=http://localhost:1234

# openai
OPENAI_API_KEY=

# gemini
GEMINI_API_KEY=

# anthropic
ANTHROPIC_API_KEY=

# Linq API
LINQ_API_KEY=
LINQ_SIGNING_SECRET=
